.header {
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    margin: 10px;
}

.breweriesLogo {
    width: 100px;
}

.searchBar {
    background-color: #1c1c1c;
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.searchBar > button {
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #ccc;
    font-size: 16px;
}
